
*.wdf
*.xml
*.wpc
*.lpr
*.rst
*.pb
*.js
*.sh
*.bat
*.log
*.log
*.bit
*.tcl
*.vdi
*.rpt
*.rpx
*.dcp
*.vds
*.wdb
*.prj
*.jou
*.html
*.info
*.obj
*.wdm
*.dbg
*.reloc
*.mem
*.rlx
*.rtti
*.svtype
*.type
*.xdbg
*.exe
*.vdb
*.txt
*.ini
VHDL/Cheating_dice/FSMD/Cheating_dice_Datapath/Cheating_dice_Datapath.runs/synth_1/.Xil/Top_propImpl.xdc
VHDL/Cheating_dice/FSMD/Cheating_dice_Datapath/Cheating_dice_Datapath.runs/synth_1/__synthesis_is_complete__
